{% extends "base.html" %}
{% block content %}

{% for enrollment in enrollments %}

<li>
    <h2>{{ enrollment.course.title }}</h2>
    
</li>
<p>
    <a href="{% url 'course-detail' enrollment.course.pk %}" class="btn btn-outline-primary">View Detail</a>

    <form action="{% url 'noenroll' enrollment.course.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove</button>
    </form>
</p>
{% empty %}
<p>No enrollments yet.</p>
{% endfor %}





{% endblock content %}